﻿@using System.Configuration
@using Infostrait.Azzysa.Import.UI.Components
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Azzysa Import</title>    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fileDownload.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jstree.js"></script>

        <link href="~/Content/style.css" rel="stylesheet"/>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @if (PauseHandler.Enabled)
    {
        <script type="text/javascript">

            var isPaused = false;

            $(document).ready(function () {
                //$('#migration-div').load('/SmarTeam');
                $('#migration-div').load('@Url.Content("~/smarteam")');
            
                updatePaused(function () {
                    $('#btn-pause').click(function () {
                        isPaused = !isPaused;

                        if (isPaused) {
                            $(this).removeClass('glyphicon-pause');
                            $(this).addClass('glyphicon-play');

                            $.post('/api/hangfire/pause', { '': 20 });
                        }
                        else {
                            $(this).removeClass('glyphicon-play');
                            $(this).addClass('glyphicon-pause');

                            $.post('/api/hangfire/resume');
                        }
                    });
                });
            });

            function updatePaused(complete) {

                $.get("/api/hangfire/paused", function (result) {
                    isPaused = result;

                    if (isPaused) {
                        $('#btn-pause').removeClass('glyphicon-pause');
                        $('#btn-pause').addClass('glyphicon-play');
                        $('#btn-pause').attr('title', 'Resume Job Operations');
                    }
                    else {
                        $('#btn-pause').removeClass('glyphicon-play');
                        $('#btn-pause').addClass('glyphicon-pause');
                        $('#btn-pause').attr('title', 'Pause Job Operations');
                    }

                    if (complete != undefined)
                        complete();

                    setTimeout(function () { updatePaused(); }, 2000);
                });
            }

        </script>
    }

    <script type="text/javascript">

        function StartServer() {
            var serviceUrl = '/Server/StartServer';
            $.ajax({
                type: "POST",
                url: serviceUrl,
                dataType: 'json',
                success: successFunc,
                error: errorFunc
            });
        }

        function StopServer() {
            var serviceUrl = '/Server/StopServer';
            $.ajax({
                type: "POST",
                url: serviceUrl,
                dataType: 'json',
                success: successFunc,
                error: errorFunc
            });
        }

        function successFunc(data, status) {
            alert(data);
        }

        function errorFunc() {
            alert('error');
        }

    </script>

    @if (!string.IsNullOrEmpty(ConfigurationManager.AppSettings["Azzysa.Import.ResetKey"]))
    {
        <script type="text/javascript">

            function resetDashboard() {
                $('<div></div>').appendTo('body')
                .html('<div><h6>Are you sure you want to delete all jobs from the database?<br /><br />If so, then please provide the Reset Key:<br /><br /><b>Reset Key:</b>&nbsp;&nbsp;<input type="text" style="z-index:10000" name="key"></h6></div>')
                .dialog({
                    modal: true,
                    title: 'Delete All Jobs',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.post('/api/hangfire/reset', { '': $('input[name="key"]').val() }).done(function () {

                                $('<div></div>').appendTo('body')
                                    .html('<div><h6>Successfully reset the hangfire dashboard!</h6></div>')
                                    .dialog({
                                        modal: true,
                                        title: 'Delete All Jobs',
                                        zIndex: 10000,
                                        autoOpen: true,
                                        width: 'auto',
                                        resizable: false,
                                        buttons: {
                                            Ok: function (event, ui) {
                                                $(this).remove();
                                            }
                                        }
                                    });

                            }).error(function (error) {
                                $('<div></div>').appendTo('body')
                                    .html('<div><h6>Failed to reset the hangfire dashboard: ' + error.responseJSON.exceptionMessage + '</h6></div>')
                                    .dialog({
                                        modal: true,
                                        title: 'Delete All Jobs',
                                        zIndex: 10000,
                                        autoOpen: true,
                                        width: 'auto',
                                        resizable: false,
                                        buttons: {
                                            Ok: function (event, ui) {
                                                $(this).remove();
                                            }
                                        }
                                    });
                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            }

        </script>
    }
    else
    {
        <script type="text/javascript">

            function resetDashboard() {
                $('<div></div>').appendTo('body')
                .html('<div><h6>Are you sure you want to delete all jobs from the database?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Delete All Jobs',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            $.post('/api/hangfire/reset').done(function () {

                                $('<div></div>').appendTo('body')
                                    .html('<div><h6>Successfully reset the hangfire dashboard!</h6></div>')
                                    .dialog({
                                        modal: true,
                                        title: 'Delete All Jobs',
                                        zIndex: 10000,
                                        autoOpen: true,
                                        width: 'auto',
                                        resizable: false,
                                        buttons: {
                                            Ok: function (event, ui) {
                                                $(this).remove();
                                            }
                                        }
                                    });

                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
            }

        </script>
    }

    <style type="text/css">

        body {
            overflow-x: hidden;
        }
        
        .glyphicon-pause, .glyphicon-play {
            color: #999;
            width: 25px;
            float: left;
            height: 50px;
            padding-top: 20px;
            font-size: 11pt;
        }

        .glyphicon-pause:hover, .glyphicon-play:hover {
            color: #fff;
            cursor: pointer;
        }

        .separator {
            border-color: #999;
            margin: 5px 20px 5px 20px;
        }

        .sidebar-brand-wrapper {
            width: 250px;
            overflow: hidden;
            top: 0px;
            position: absolute;
        }

        .menu-title-wrapper {
            width: 170px;
            float: left;
        }

        #btn-reset {
            outline: 0px;
        }
       
		#menu-close {
			z-index: 3000;
			cursor: pointer;
			position: relative;
		}

    </style>
</head>
<body>

    @RenderBody()
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" onclick="$('#menu-close').click();" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <div class="sidebar-brand-wrapper">
                    @if (PauseHandler.Enabled)
                    {
                        <span id="btn-pause" class="glyphicon glyphicon-pause"></span>
                    }
                    <div class="menu-title-wrapper">
                        <a href="#top" onclick="$('#menu-close').click();">Azzysa Import</a>
                    </div>
                </div>
            </li>
            @*<li>
                <a href="#top" onclick="$('#menu-close').click();">Home</a>
            </li>*@
            <li>
                <a href="#about"onclick="$('#menu-close').click();">About</a>
            </li>
            @*<li>
                <a href="#contact" onclick="$('#menu-close').click();">Contact</a>
            </li>*@
            <li>
                <a id="migration-link" href="#migration-div">SmarTeam Migration</a>
                @*@Html.ActionLink("SmarTeam Migration", "Index", "SmarTeam")*@
                <!--javascript:my_function();window.print();-->
                <!--window.location.hash = '#migration';-->
            </li>
            <li>
                @Html.ActionLink("Server Dashboard", "Dashboard", "Home")
            </li>
            <li style="line-height: 11px;">
                <hr class="separator">
            </li>
            <li>
                <a id="btn-reset" href="javascript:resetDashboard();">Reset Dashboard</a>
            </li>
        </ul>
    </nav>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Azzysa Import</h1>
            <h3>The ENOVIA Migration App helps your organization to migrate rapidly to the 3DEXPERIENCE platform!</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>
    
    <!-- About -->
    <!-- Contact -->
    <!-- Map -->
    <!-- Footer -->
    @*<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>
                        <strong>INFOSTRAIT</strong>
                    </h4>
                    <p>
                        Hoofdweg 78B
                        <br>7371 AK Loenen
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +31 55 5348591</li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:info@infostrait.nl">info@infostrait.nl</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">>Copyright &copy; @DateTime.Now.Year - infostrait</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>*@

    <!-- /.container -->

    <section id="about" class="about">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4>
                        <strong>INFOSTRAIT</strong>
                    </h4>
                    <p>
                        Hoofdweg 78B
                        <br>7371 AK Loenen
                    </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +31 55 5348591</li>
                        <li>
                            <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:info@infostrait.nl">info@infostrait.nl</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">>Copyright &copy; @DateTime.Now.Year - infostrait</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Migrate rapidly</h2>
                    <p>
                        The SmarTeam Migration App helps your organization to migrate rapidly from ENOVIA SmarTeam V5 to ENOVIA V6.
                    </p>
                    <p><a class="btn btn-default" href="http://www.azzysa.com/apps/smarteam-migration-app/#.Vo-jp_krKHs">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Out-of-the-box solution</h2>
                    <p>The app is an out-of-the-box solution, but enables organizations to configure the whole migration process on a deep and fine grained level. The intelligent architecture of this App enables your organization to migrate fast and with minimal impact.</p>
                    <p><a class="btn btn-default" href="http://www.azzysa.com/apps/smarteam-migration-app/#.Vo-jp_krKHs">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Available for both small and large businesses</h2>
                    <p>The SmarTeam Migration App is available for both small and large businesses.</p>
                    <p><a class="btn btn-default" href="http://www.azzysa.com/apps/smarteam-migration-app/#.Vo-jp_krKHs">Learn more &raquo;</a></p>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    @*<section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d612.3783488816707!2d6.028794829252812!3d52.12498199873383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDA3JzI5LjkiTiA2wrAwMSc0NS42IkU!5e0!3m2!1snl!2snl!4v1468842933133">
            <br />
            <small>
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d612.3783488816707!2d6.028794829252812!3d52.12498199873383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDA3JzI5LjkiTiA2wrAwMSc0NS42IkU!5e0!3m2!1snl!2snl!4v1468842933133"></a>
            </small>
        </iframe>
    </section>*@
    
    <section id="migration" class="services bg-primary">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>SmarTeam Classes: </h2>
                <hr class="small">
                <div class="row" id="migration-div">
                </div>
                <!-- /.row (nested) -->
            </div>

        </div>
    </section>    <!-- Custom Theme JavaScript -->

    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Scrolls to the selected menu item on the page
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function () {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function () {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function () {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
        // Disable Google Maps scrolling
        // See http://stackoverflow.com/a/25904582/1607849
        // Disable scroll zooming and bind back the click event
        var onMapMouseleaveHandler = function (event) {
            var that = $(this);
            that.on('click', onMapClickHandler);
            that.off('mouseleave', onMapMouseleaveHandler);
            that.find('iframe').css("pointer-events", "none");
        }
        var onMapClickHandler = function (event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
        $('.map').on('click', onMapClickHandler);
    </script>



    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")s*@
    @RenderSection("scripts", required: false)
</body>
</html>
