﻿@* Generator: Template TypeVisibility: Public GeneratePrettyNames: True RazorVersion : 1 *@
@using System
@using System.Globalization
@using System.Reflection
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@inherits RazorPage
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <title>@Title - Hangfire</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ var version = GetType().GetTypeInfo().Assembly.GetName().Version; }
    <link rel="stylesheet" href="@Url.To($"/css{version.Major}{version.Minor}{version.Build}")">
    <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/import-errors.min.css" />
    <script src="@Url.To($"/js{version.Major}{version.Minor}{version.Build}")"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/import-errors.min.js"></script>
</head>
    <body>
        <!-- Wrap all page content here -->
        <div id="wrap">

            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Home()">Hangfire Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @if (NavigationMenu.Items.Count > 0)
                        {
                            <ul class="nav navbar-nav">
                                @foreach (var item in NavigationMenu.Items)
                                {
                                    var itemValue = item(this);

                                    if (itemValue == null) { continue; }

                                    <li class="@(itemValue.Active ? "active" : null)">
                                        <a href="@itemValue.Url">
                                            @itemValue.Text
                                            @foreach (var metric in itemValue.GetAllMetrics())
                                            {
                                                @Html.InlineMetric(metric)
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                        @if(@AppPath != null) {
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="@AppPath">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        @Strings.LayoutPage_Back
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>

            <!-- Begin page content -->
            <div class="container" style="margin-bottom: 20px;">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <ul class="list-inline credit">
                    <li>
                        <a href="http://hangfire.io/" target="_blank">Hangfire @($"{version.Major}.{version.Minor}.{version.Build}")
                        </a>
                    </li>
                    <li>@Storage</li>
                    <li>@String.Format(Strings.LayoutPage_Footer_Time, DateTime.UtcNow)</li>
                    <li>@String.Format(Strings.LayoutPage_Footer_Generatedms, GenerationTime.Elapsed.TotalMilliseconds.ToString("N"))</li>
                </ul>
            </div>
        </div>
        
        <script>
            (function (hangFire) {
                hangFire.config = {
                    pollInterval: @StatsPollingInterval,
                    pollUrl: '@(Url.To("/stats"))',
                    locale: '@CultureInfo.CurrentUICulture'
                };
            })(window.Hangfire = window.Hangfire || {});
        </script>
    </body>
</html>
