﻿@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@using Hangfire.Storage
@using Infostrait.Azzysa.Import.UI.Components
@inherits RazorPage
@{
    Layout = new CustomLayoutPage("Errors");

    var count = DatabaseHelper.GetErrorCount();
}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Errors</h1>
        @if (count == 0)
        {
            <div class="alert alert-success">You have no errors at the moment.</div>
        }
        else
        {
            <div class="wrapper errors">
                <table id="tblErrors" width="100%" class="stripe row-border left">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="width:50px;">Count</th>
                            <th>Error</th>
                            <th style="width:60px;"></th>
                            <th style="width:60px;"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="window_wrapper">
                <div class="window">
                    <div class="window_bar"><span class="metric metric-danger highlighted"></span><span class="title"></span><div class="close">X</div></div>
                    <div class="wrapper occurrences">
                        <table id="tblOccurrences" width="100%" class="stripe row-border left">
                            <thead>
                                <tr>
                                    <th style="width:10px;">&nbsp;</th>
                                    <th style="width:50px;">Count</th>
                                    <th style="width:80px;">Job Id</th>
                                    <th style="width:80px;">Object Id</th>
                                    <th>Error Message</th>
                                    <th style="width:60px;"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
