﻿@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True RazorVersion: 1 *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Dashboard.Pages
@using Hangfire.Dashboard.Resources
@using Infostrait.Azzysa.Import.UI.Components
@inherits RazorPage
@{
    Layout = new LayoutPage("Paused Jobs");

    int from, perPage;

    int.TryParse(Query("from"), out from);
    int.TryParse(Query("count"), out perPage);

    var monitor = Storage.GetMonitoringApi();
    var count = DatabaseHelper.GetNumberOfJobsByStateName("Paused");
    var pager = new Pager(from, perPage, count);
    var pausedJobs = DatabaseHelper.GetPausedJobs(pager.FromRecord, pager.RecordsPerPage);
}
<div class="row">
    <div class="col-md-3">
        @Html.JobsSidebar()
    </div>
    <div class="col-md-9">
        <h1 class="page-header">Paused Jobs</h1>
        @if (pager.TotalPageCount == 0)
        {
            <div class="alert alert-info">No jobs are paused right now.</div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>Paused jobs do not become expired</strong> to allow you to resume them without any
                time pressure. You can either resume operations via the 'Resume' button on the Hangfire Dashboard or via the menu on the main page.
            </div>

            <div class="js-jobs-list">
                <div class="btn-toolbar btn-toolbar-top">
                    <button class="js-jobs-list-command btn btn-sm btn-default"
                            data-url="@Url.To("/jobs/paused/delete")"
                            data-loading-text="@Strings.Common_Deleting"
                            data-confirm="@Strings.Common_DeleteConfirm">
                        <span class="glyphicon glyphicon-remove"></span>
                        @Strings.Common_DeleteSelected
                    </button>

                    @Html.PerPageSelector(pager)
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="min-width">
                                    <input type="checkbox" class="js-jobs-list-select-all" />
                                </th>
                                <th class="min-width">@Strings.Common_Id</th>
                                <th>Paused</th>
                                <th>@Strings.Common_Job</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var index = 0; }
                            @foreach (var job in pausedJobs)
                            {
                                <tr class="js-jobs-list-row">
                                    <td>
                                        <input type="checkbox" class="js-jobs-list-checkbox" name="jobs[]" value="@job.Job.JobId" />
                                    </td>
                                    <td class="min-width">
                                        @Html.JobIdLink(job.Job.JobId.ToString())
                                    </td>
                                    <td class="min-width">
                                        @if (job.PausedAt.HasValue)
                                        {
                                            @Html.RelativeTime(job.PausedAt.Value)
                                        }
                                    </td>
                                    <td>
                                        <div class="word-break">
                                            @HangfireInterfaceHelper.JobNameLink(this, job.Job)
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.Paginator(pager)
            </div>
        }
    </div>
</div>