﻿@{
    ViewBag.Title = "Azzysa Import by infostrait";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hoofdweg 78B<br />
    7371 AK Loenen<br />
    <abbr title="Phone">P:</abbr>
    +31 55 5348591
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@infostrait.nl">support@infostrait.nl</a><br/>
    <strong>Info:</strong> <a href="mailto:info@azzysa.com">info@azzysa.com</a>
</address>