﻿@using System.Web.UI.WebControls.Expressions
@model Dictionary<String, String>

@{
    ViewBag.Title = ViewBag.ClassName + " - Details";
}

<h2>Attribute information for '@ViewBag.ClassName'</h2>

<h3>Initialization command:</h3>
<div style="overflow: scroll; height: 6vh;">
    @ViewBag.InitializationCommand
</div>

<h3>Package details command:</h3>
<div style="overflow: scroll; height: 10vh;">
    @ViewBag.CommandText
</div>

<h3>Package details:</h3>
<div style="overflow: scroll; height: 10vh;">
    <table class="table">
        <tr>
            <th>
                Select clause (in select command)
            </th>
            <th>
                Exposed as (in the data package)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </table>
</div>


<div style="overflow: scroll; height: 30vh;">
    @using (Html.BeginForm("DownloadPackage", "SmarTeam", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h3>Download package object:</h3>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Hidden("className", (string)(ViewBag.ClassName))
            <div class="col-md-10">
                @Html.Label("Provide attribute filter and package id", new { @class = "col-md-2 control-label" })
                @Html.TextBox("attributeFilter", "attribute filter", new { width = "200px;" })
                @Html.TextBox("packageId", "package id")
                <input type="submit" class="btn btn-default" value="Download Package"/>
            </div>
        </div>
    }
    @using (Html.BeginForm("ProcessPackageAsync", "SmarTeam", FormMethod.Post, new { @class = "form-horizontal", role = "form", target = "_blank" }))
    {
        <h3>Process package object:</h3>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Hidden("className", (string)(ViewBag.ClassName))
            <div class="col-md-10">
                @Html.Label("Provide package id", new { @class = "col-md-2 control-label" })
                @Html.TextBox("packageId", "package id")
                @Html.TextBox("configurationName", "azzysa.ef." + ((string)(ViewBag.ClassName)).ToLower().Replace(" ", string.Empty))
                <input type="submit" class="btn btn-default" value="Process Package"/>
            </div>
        </div>
    }
</div>