﻿@using System.Web.UI.WebControls.Expressions
@model IEnumerable<Infostrait.Azzysa.Import.ENOVIA.SmarTeam.SmarTeamClass>

@{
    Layout = null;
    ViewBag.Title = "SmarTeam";
}

<h3>@ViewBag.DataBaseName</h3>

<script type="text/javascript">

    function ShowCommands(className) {
        $('#CommandModalLabel').html(className + ' | Commands');

        //var serviceUrl = '/SmarTeam/GetInitializationCommand';
        var serviceUrl = '@Url.Content("~/SmarTeam/GetInitializationCommand")';
        $.ajax({
            type: "POST",
            url: serviceUrl,
            dataType: 'json',
            data: { 'className': className },
            success: SetInitCommand,
            error: errorFunc
        });

        //serviceUrl = '/SmarTeam/GetDetailsCommand';
        serviceUrl = '@Url.Content("~/SmarTeam/GetDetailsCommand")';
        $.ajax({
            type: "POST",
            url: serviceUrl,
            dataType: 'json',
            data: { 'className': className },
            success: SetDetailsCommand,
            error: errorFunc
        });

        // Show dialog
        $('#myCommandModal').modal();
    }

    function SetInitCommand(data, status) {
        $('#initializationCommandTextBox').val(data);
    }
    function SetDetailsCommand(data, status) {
        $('#detailsCommandTextBox').val(data);
    }

    function showProcessClassModal(className) {
        $('#classHeaderBox').html(className);
        var configurationName = 'azzysa.ef.' + className.toLowerCase().replace(/ /g,'');
        $('#classMappingTextBox').val(configurationName);
        $('#ProcessClassModal').modal();
    }

    function ProcessClassAsync() {
        var className = $('#classHeaderBox').html();
        var mapping = $('#classMappingTextBox').val();
        var filterAttribute = $('#classFilterAttributeTextBox').val();
        var filterValue = $('#classFilterValueTextBox').val();

        // Invoke Web Api
        //var serviceUrl = '/SmarTeam/ProcessAsync';
        var serviceUrl = '@Url.Content("~/SmarTeam/ProcessAsync")';
        $.ajax({
            type: "POST",
            url: serviceUrl,
            dataType: 'json',
            data: { 'className': className, 'configurationName': mapping, 'filterAttribute': filterAttribute, 'filterValue': filterValue },
            success: ShowProcessResultFromClassAsync,
            error: errorFunc
        });
    }

    function showProcessPackageModal(className) {
        $('#myModalLabel').html(className);
        var configurationName = 'azzysa.ef.' + className.toLowerCase().replace(/ /g, '');
        $('#mappingTextBox').val(configurationName);
        $('#ProcessPackageModal').modal();
    }

    function ProcessPackageAsync() {
        var className = $('#myModalLabel').html();
        var packageId = $('#packageIdTextBox').val();
        var mapping = $('#mappingTextBox').val();

        // Invoke Web Api
        //var serviceUrl = '/SmarTeam/ProcessPackageAsync';
        var serviceUrl = '@Url.Content("~/SmarTeam/ProcessPackageAsync")';
        $.ajax({
            type: "POST",
            url: serviceUrl,
            dataType: 'json',
            data: { 'className': className, 'configurationName': mapping, 'packageId' : packageId },
            success: ShowProcessResultFromPackageAsync,
            error: errorFunc
        });
    }

    function showDownloadPackageModal(className) {
        $('#DownloadPackageLabel').html(className);
        $('#DownloadPackageModal').modal();
    }

    function DownloadPackageAsync() {
        var className = $('#DownloadPackageLabel').html();
        var packageId = $('#downloadPackageId').val();

        // Invoke Web Api
        //var serviceUrl = '/SmarTeam/DownloadPackage';
        var serviceUrl = '@Url.Content("~/SmarTeam/DownloadPackage")';
        $.fileDownload(serviceUrl, {
            httpMethod: "GET",
            data: { 'className': className, 'packageId': packageId, 'attributeFilter': '' },
            error: errorFunc
        });
    }

    function ShowProcessResultFromClassAsync(data, status) {
        var className = $('#classHeaderBox').html();
        $('#ProcessResultHeader').html(className);
        $('#ProcessResultMessage').html(data);
        $('#ProcessClassModal').modal('hide');
        $('#ProcessResultModal').modal();
    }

    function ShowProcessResultFromPackageAsync(data, status) {
        var className = $('#myModalLabel').html();
        $('#ProcessResultHeader').html(className);
        $('#ProcessResultMessage').html(data);
        $('#ProcessPackageModal').modal('hide');
        $('#ProcessResultModal').modal();
    }

    function errorFunc(xhr, status, error) {
        alert('An error has occured');
        alert(error);
        var err = eval("(" + xhr.responseText + ")");
        alert(err.Message);
    }

</script>

<!-- Modal -->
<div class="modal fade" id="ProcessResultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="ProcessResultHeader" style="color:darkgrey"></h4>
            </div>
            <div class="modal-body">
                <p style="color:darkgray" id="ProcessResultMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProcessPackageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="myModalLabel" style="color:darkgrey"></h4>
            </div>
            <div class="modal-body">
                <p style="color:darkgray">Mapping:</p>
                <p style="color:darkgray"><input type="text" id="mappingTextBox" class="text-primary" /></p>
                <p></p>
                <p style="color:darkgray">Package Id:</p>
                <p style="color:darkgray"><input type="text" id="packageIdTextBox" class="text-primary" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ProcessPackageAsync();">Start</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DownloadPackageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="DownloadPackageLabel" style="color:darkgrey"></h4>
            </div>
            <div class="modal-body">
                <p style="color:darkgray">Package Id:</p>
                <p style="color:darkgray"><input type="text" id="downloadPackageId" class="text-primary" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="DownloadPackageAsync();">Download</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProcessClassModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="classHeaderBox" style="color:darkgrey"></h4>
            </div>
            <div class="modal-body">
                <p style="color:darkgray">Mapping:</p>
                <p style="color:darkgray"><input type="text" id="classMappingTextBox" class="text-primary" /></p>
                <p></p>
                <p style="color:darkgray">Filter attribute:</p>
                <p style="color:darkgray"><input type="text" id="classFilterAttributeTextBox" class="text-primary" /></p>
                <p></p>
                <p style="color:darkgray">Filter value:</p>
                <p style="color:darkgray"><input type="text" id="classFilterValueTextBox" class="text-primary" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ProcessClassAsync();">Start</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myCommandModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="CommandModalLabel" style="color:darkgrey"></h4>
            </div>
            <div class="modal-body">
                <p><textarea id="initializationCommandTextBox" class="text-primary" cols="90" rows="2"></textarea></p>
                <p><textarea id="detailsCommandTextBox" class="text-primary" cols="90" rows="15"></textarea></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6">
        <div class="service-item">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
            </span>
            <h4>
                <strong>@item.Name</strong>
            </h4>
            <p>@Html.TextBox(@item.Name.Replace(" ", "") + "_ConfigurationName", "azzysa.ef." + item.Name.ToLower().Replace(" ", string.Empty), new { Style = "background:#cccccc;" })</p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="ShowCommands('@item.Name');">Commands</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="showDownloadPackageModal('@item.Name');">Download Package</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="showProcessPackageModal('@item.Name');">Process Package</button></p>
            <p><button type="button" class="btn btn-primary btn-lg" onclick="showProcessClassModal('@item.Name');">Process Class</button></p>
</div>
    </div>
}