﻿    table.dataTable tbody tr:not([role]) td {
        padding: 0px;
    }

    table.dataTable tbody td .child {
        background-color: #fdfdfd;
        position: relative;
        padding-left: 30px;
    }

    .child {
        cursor: initial;
    }

    .child .sidebar {
        background-color: #e6e6e6;
        width: 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
    }

    .child .content {
        padding: 20px;
    }

    .child .error {
        color:red;
        padding: 5px;
        font-size: 14pt;
    }

    .child .small-error {
        color:#d9534f;
        font-size: 12pt;
    }

    .child .name {
        padding: 5px;
        font-weight: bold;
    }



    @font-face {
        font-family: 'Glyphicons Halflings';
        src: url(/fonts/glyphicons-halflings-regular.eot);
        src: url(/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
    }

    html, body {
        padding: 0;
        margin: 0;
    }

    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
        min-width:650px;
        _width: expression( document.body.clientWidth > 650 ? "650px" : "auto" );
    }

    .wrapper {
        padding: 20px 10px 10px 10px;
    }

    .wrapper.errors {
        position: absolute;
        left: 0px;
        top: 50px;
        right: 0px;
        bottom: 0px;
    }

    table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; 
        word-wrap:break-word;
    }

    .center {
        text-align: center;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    table.dataTable tbody td {
        cursor: pointer;
    }

    #tblErrors_wrapper .dataTables_scroll, #tblOccurrences_wrapper .dataTables_scroll {
        border: 1px solid #dddddd;
    }

    #tblErrors, #tblOccurrences {
        width: 100%;
        height: 100%;
        width: 100%;
    }

    table.dataTable thead th {
        outline: none;
    }

    table.dataTable, table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
        border-bottom: 1px solid #dddddd;
    }

    .dataTables_length, .dataTables_filter {
        padding-bottom: 20px;
    }

    #tableOccurrences_wrapper .dataTables_scroll {
        border: 1px solid #dddddd;
    }

    .navbar {
        position: relative;
        height: 50px;
        border-bottom: 1px solid transparent;
        background-color: #f8f8f8;
        border-color: #e7e7e7
    }

    .glyphicon {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
            
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .glyphicon-log-out:before {
        content: "\e163";
    }

    table tr[role="row"]:hover {
        color: #000;
        font-weight: bolder;
    }

    .close {
        z-index: 1000;
        position: absolute;
        top: 14px;
        right: 20px;
        padding: 5px;
        cursor: pointer;
    }

    .window_wrapper {
        display: none;
        position: fixed;
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 60px;
        background-color: rgba(200, 200, 200, 0.4);
    }

    .window {
        position: fixed;
        top: 75px;
        left: 25px;
        right: 25px;
        bottom: 85px;
        -moz-box-shadow: 1px 2px 7px #000000;
        -webkit-box-shadow: 1px 2px 7px #000000;
        box-shadow: 1px 2px 7px #000000;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
    }

    .window_bar {
        height: 56px;
        width: 100%;
        background-color: #eee;
        border-bottom: solid 1px #ccc;
    }

    .window_bar .title, .window_bar .metric  {
        position: relative;
        left: 20px;
        top: 18px;
    }

    .window_bar .title {
        left: 60px;
        right: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        position: absolute;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border: none;
    }

    td.details-control {
        background: url('/img/expand.png') no-repeat center center;
        cursor: pointer;
    }
    tr.shown td.details-control {
        background: url('/img/collapse.png') no-repeat center center;
        cursor: pointer;
    }

    table.dataTable tbody tr.edit input {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding-left: 5px;
        border: solid 1px #ccc;
    }

    table.dataTable tbody tr.edit {
        background-color: #eef9ff;
    }

    table.dataTable tbody tr td.edit, table.dataTable tbody tr td.requeue {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table.dataTable tbody tr td span.edit, table.dataTable tbody tr td span.requeue {
        text-decoration: underline;
        cursor: pointer;
    }

    #requeue_progress {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10000;
        background-color: rgba(0,0,0,0.2);
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    #requeue_progress div {
        width: 360px;
        height: 56px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px #888888;
    }
    